<h2>Now Viewing: <%= @closet.title %></h2>
    <p>Items: </p>
    <p><% @closet.items.each do |item| %>
        <% if item.photo.attached? %>
            <%= link_to image_tag(item.photo), item_path(item), :class => "style_image" %>
        <% end %>
        <%= link_to item.name, item_path(item) %> <br>
       <% end %> </p>
<br>

<p><%= link_to "Add Item", new_item_path %> </p>

<p> <% @categories.each do |category| %> 
        <%= link_to category.title, category_path(category) %>
    <% end %></p>

<%= button_to 'Delete Closet', closet_path(@closet), method: :delete %> 
