<div class="container text-center">
    <div class="row">
        <div class="col-xs-3">
            <br>
            <h3><%=@closet.title%></h3>
        </div>
    </div>
    <br>
    <div class='row'>
            <p> Categories: <% @categories.each do |category| %> 
                <%= button_to category.title, category_path(category), method: :get, class: "btn btn-info" %>
            <% end %></p>
    </div>
    <br>
    <div class="row">
        <% @items.each do |item| %>
            <div class="col-sm-4"> 
            <% if item.photo.attached? %>
                <%= link_to image_tag(item.photo, size: '250x250'), item_path(item), :html =>{:class => "index_style_image"}%>
            <% end %><br>
            <%= button_to item.real_name, item_path(item), method: :get, class: "btn btn-info" %>
            <%= button_to 'Mark as Worn', closet_worn_path(item), method: :put, class: "btn-xs btn-outline-info" %>  
           <br>
            </div>
        <% end %> 
    </div>

    
    <br>
    <br>
    <div class="button-box col-lg-12">
            <a href="/items/new" class="btn btn-info" role="button">Add Item</a>
            <%= button_to 'Delete Closet', closet_path(@closet), method: :delete, class: "btn btn-info" %>
   </div>

    <br>
    <br>
</div>
