<h3> <%= @item.name %> </h3>

<%= @item.description %> <br>
<%= @item.worn_count %> <br>
<%= @item.condition %> <br>

Categories:
<% @item.categories do |cat| %>
    <%= link_to cat.title, category_path(cat)%>
    <br>
<% end %>

<%= button_to 'Delete', item_path(@item), method: :delete %>