<div class="container text-center">

    <h3> <%= @item.name %> </h3>
        <p><%= link_to @item.closet.title, closet_path(@closet)%></p>
        <% if @item.photo.attached? %>
                <%= image_tag(@item.photo,:size => "300x300") %> 
        <% end %>
        <br>
        <p>Description: <%= @item.description %> </p>
        <div>Worn: <%= @item.worn_count %> <%= button_to 'Worn', worn_path(@item), method: :put %></div>
        <br>
        <p> Condition: <%= @item.condition %></p>

        <p> Categories: <% @item.categories.each do |category| %> 
                <%= button_to category.title, category_path(category), method: :get %>
            <% end %>
        </p>
    

    <br>
    <%= button_to 'Edit', edit_item_path(@item), method: :get %>
    <%= button_to 'Delete', item_path(@item), method: :delete %>
    <%= button_to 'Back to Closet', closet_path(@closet), method: :get %>
    <br>
    <br>
    <br>
    <br>
</div>

