<div class="container text-center">
<h2> Create a New Category</h2>
<% if @category.errors.any? %>
  <div id="error_explanation">
    <h4>
        Uh oh! 
      <%= pluralize(@heroine.errors.count, "error") %>
      prohibited this Category from being saved:
    </h4>
 
    <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @category do |f| %>
    Category Name: <%= f.text_field :title %>
    <%= f.submit "Submit Category" %>
<% end %>
</div>