<!DOCTYPE html>
<html>
  <head>
    <title>ClosetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in?%>
      <%= link_to 'All My Closets', closets_path, {class: 'item'} %>
      <%= link_to 'Create a Closet', new_closet_path, {class: 'item'} %>
      <%= link_to 'Logout', logout_path, {class: 'item'} %>
    <% end %>
    <%= yield %>
  </body>
</html>
